@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

.vimBar {
  @apply w-full h-6 px-0.5 border-none bg-gray-200 text-sm items-center;
  display: flex !important;
}

.vimBar input {
  @apply outline-none bg-transparent border-none;
}